
* {
  font-weight: bolder;
  font-family:"monofonto";
  color: white;
}

#terminal {
  height:20em;
  float: left;
  width: 50%;
  padding:10px;
  background-color:black;
  overflow-y:auto;
  overflow-x:hidden;
}

#inspector {
  padding:10px;
  margin-left:10%;
  float: left;
  background-color:black;
  display:inline-block
}
#terminal:focus > .line > .inner > #cursor {
  display:inline-block;
}

#cursor {
  width:.5em;
  height:1em;
  background-color: darkred;
  display: none;
}

.inner {
  display: inline-block;
}
@font-face {
  font-family: "monofonto";
  src: url("monofonto.ttf");
}

@keyframes blink {
    0%   {background-color: black;}
    50%  {background-color: yellow;}
    100%  {background-color: black;}
}